<section class="rank1">
	<h3>Rank 1</h3>
	<small>for <%= @positions.pos %> need <%= @quantity %> people</small>
	<span>People with that rank: </span>
	<% @emp_r1.each do |emp| %>
		<li><%= emp.name %> | <%= emp.workhours %> h</li>
		<% @userhour = emp.workhours %>
	<% @selected << emp %>
	<% end %>	
	</ul>
	<% @array = rank1 %>
	</ul>
	<small>@quantity</small>
	
	<strong>Result: <%= @array.length %> <%= @array %> are selected, need <%= @quantity - @array.length %> </strong>
</section>
	