<section class="results">
	    <% if (!@last = @end) then %>
	    <strong><b> CONFLICT </b></strong>
	    <% end %>
		<p><strong>Result: selected <%= @array %></strong></p>
		<p><strong>Day complete: ?<%= @end %> - <%= @last %> = <%= @end-@last %></strong></p>
		<strong><%= Time.at(@wd).utc.strftime("%H:%M").to_i - Time.at(@userhour).utc.strftime("%H:%M").to_i %> </strong>
		
		<%= Time.at(@wd).utc.strftime("%H:%M") %>
		<% @hl = @wd - @userhour.hour %>
		<big>
		<%= Time.at(@hl).utc.strftime("%H:%M") %> left
		</big>
	</section>