<section class="results">
	<%= @last == @end %><%= @last %> <%= @end %>
	    <% unless (@array.in_groups_of(3).length % @quantity == 0) && @last == @end %><%# Put conflict message %>
	    <strong><b> CONFLICT </b></strong>
	    <% end %>
		<p><strong>Result: selected <br><% @array.each do |selected| %>
		
		<%= selected %>
		<br>
		<% end %>
		</strong></p>
		<p><strong>Day complete: ?<%= @end %> - <%= @last %> = <%= @end-@last %></strong></p>
		<strong><%= Time.at(@wd).utc.strftime("%H:%M").to_i - Time.at(@userhour).utc.strftime("%H:%M").to_i %> </strong>
		
		<%= Time.at(@wd).utc.strftime("%H:%M") %>
		<% @hl = @wd - @userhour.hour %>
		<big>
		<%= Time.at(@hl).utc.strftime("%H:%M") %> left
		</big>
	</section>