<header>Week: <%= @period.p_start.to_s(:ru_datetime) %> to <%= @period.p_end.to_s(:ru_datetime) %></header>
<aside class="span3">
    Время работы<br> TODAY IS: <b><%= @DW[0] %></b>
   <% Time::DATE_FORMATS[:ru_datetime] = "%k:%M:%S" %>
   <%= @workhour.send("#{@DW.first}Start").to_s(:ru_datetime) %> до
   <%= @workhour.send("#{@DW.first}End").to_s(:ru_datetime) %>
	<br>
	WORKDAY IS: <%= Time.at(@wd).utc.strftime("%H:%M") %> Hours
	<br>
    Позиция: <b><%= @positions.pos %></b>
    <br>
    Необходимо <b><%= @quantity %></b> человек
	<br>Всего по этой позиции существует <b><%= @emp.length %></b> человекa:
	<br>
	<% @emp.each do |pos| %>
	<%= pos.name %>
	<br>
	<% end %>
</aside>

<main class="span7">
	<h2>One day calculation: <%= @DW[0] %> | <%= @period.p_start.to_s(:ru_datetime) %> to <%= @period.p_end.to_s(:ru_datetime) %> <%=  %></h2>
	<%  @red = [] %>
	<%  @green = [] %>
	<% @array = [] %>
	<% @selectedarray = [] %>
	<%= render "rank1" %>
	<% ##if @last < @end %>
	<%= render "rank2" %>
	<% #if @last < @end %>
	<%= render "rank3" %>
	<% #end #rank 3 %>
	<%= render "results" %>
</main>