<%= form_for @business do|f| %>
<p>Название компании:  <%= f.text_field :name, :placeholder => "Apple INC" %></p>
<p>Ваше имя:  <%= f.text_field :username, :placeholder => "В одно слово" %></p>
<p>Ваш пароль:  <%= f.password_field :password, :placeholder => "сделайте его хорошим" %></p>
<p>Потверждение пароля:  <%= f.password_field :password_confirmation, :placeholder => "опять" %></p>
<p><%= f.submit "Сохранить" %></p>
<% end %>