<% @b = session[:biz_id] %>
<% @wd = BusinessWorkday.find_by_business_id(3).FriEnd - BusinessWorkday.find_by_business_id(3).FriStart %>
<% @wd = @wd/60/60 %>
<h1><%= @business.name %> <%= link_to "Edit", edit_business_url(@b) %> TODAY WORKDAY IS: <%= @wd %> Hours</h1>
<%= link_to "BusinessWorkday", business_workdays_url %>

<%= link_to "Добавить нового сотрудника", new_employee_url %>
<%= link_to "Добавить новую позицию", new_position_url %>
<br>
<%= link_to "Positions", positions_url %>
<%= link_to "[Pediods]", periods_url %>
<%= link_to "Appr positions", appr_positions_url %>
<table>
<h4>Сотрудники: </h4>
  <% @business.employees.each do |employee| %>
    <th>Name</th>
    <th>$</th>
    <th>Rank</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <tr>
      <td><%= employee.name %></td>
      <td><%= employee.payrate %></td>
      <td><%= employee.rank %></td>
      <!-- refactor in method helper !-->
      <% @posi = Position.find_all_by_id(employee.position_id)  %>
      <td><%=if (!@posi.empty?) then @posi.first.pos end %></td>
      <td><%= link_to "Построить граффик", new_schedule_url(:employee_id => employee.id, :rate_this_week => employee.payrate) %></td>
      <td><%= link_to "Редактирование", edit_employee_url(employee) %></td>
      <td><%= link_to "Профиль", employee_url(employee) %> </td>
      <td><%= link_to "Удалить", employee_url(employee), :confirm => "Вы уверенны?" %></td>
    </tr>
  <% end %>
</table>

<div class="ranks">
<h4>Важные сотрудники: </h4>
  <% @business.employees.each do |employee| %>
    <% if employee.rank == 1 %>
      <%= employee.name %>
    <% end %>
   <% end %>
</div>
<div class="ranks">
<h4>Средней важности сотрудники: </h4>
  <% @business.employees.each do |employee| %>
    <%= if employee.rank == 2 then employee.name end %>

   <% end %>
</div>
<div class="ranks clearfix">
<h4>Низкой важности сотрудники: </h4>
  <% @business.employees.each do |employee| %>
    <%= if employee.rank == 3 then employee.name end %>

   <% end %>
</div>

<div class="schedules">
<br>
<br>
<%= link_to "Основной граффик", schedules_url %>

<h4>Граффики сотрудников: </h4>
<br>
<% @schedule.sort.each do |sch| %>
<% @employee = Employee.find_all_by_id(sch.employee_id) %>
<% @period = Period.find(sch.period_id) %>
<%= link_to "Граффик #{sch.id} — #{@employee.first.name} for Period #{@period.p_start.to_s(:ru_datetime)} to #{@period.p_end.to_s(:ru_datetime)}", sch %>
<br>
<% end %>
</div>
<br>
<br>
<br>
<div class="calc"><%= link_to "Calculation", calculations_url %></div>

<br>
<br>
<strong> <a href="https://github.com/EmpireInc/Minority/">Этапы проекта</a></strong>