<% @b = session[:biz_id] %>
<% @wd = BusinessWorkday.find_by_business_id(3).FriEnd - BusinessWorkday.find_by_business_id(3).FriStart %>
<% @wd = @wd/60/60 %>
<div class="head"> 
	<h1><%= @business.name %> <%= link_to "Изменить", edit_business_url(@b) %></h1>
	<h2>Рабочий день сегодня: <%= @wd.round %> ЧАСОВ</h2>
</div>
<div class="row">
  <div class="span7">
  	<h3><%= link_to "Отчеты", reports_url %></h3>
  	<div class="reports">
  		<% @business.employees.each do |emp| %>
  			<% unless emp.timesheets.first.nil? %>
	  		<div class="report_block">
	  		<h6><%= link_to "#{emp.name}", emp %> <strong><%= clocked_in(emp.clocked_in) %></strong><h6>
	  		
	  		<% emp.timesheets.limit(5).each do |timesheet| %>
		  		<div class="report_checkin">
			  		Был с <%= timesheet.punch_in %> до <%= timesheet.punch_out %>
		  		</div>
	  		<% end %>
	  		</div>
  		<% end end %>
  	</div>
  </div>
  <div class="span4 aside">
  	<h3><%= link_to "Графики", schedules_url %></h3>
  	<div class="schedules">
	<% @schedule.sort.each do |sch| %>
	<% @employee = Employee.find_by_id(sch.employee_id) %>
	<% @period = Period.find(sch.period_id) %>
	<%= link_to "#{sch.id}: #{@employee.name} на #{@period.p_start.to_s(:ru_datetime)} to #{@period.p_end.to_s(:ru_datetime)}", sch %>
	<br>
	<% end %>
  </div>
	
  	<h3><%= link_to "Build", calculations_url %></h3>
  </div>
</div>

<div class="row columns">
	<a href="<%= employees_url %>" title="Сотрудники"><div class="span2">
		<h4><i class="icon-user"></i>Сотрудники</h4>
		<p>Добавление или изменение сотрудников.</p>
	</div></a>
	<a href="<%= positions_url %>" title="Должности"><div class="span2">
		<h4><i class="icon-briefcase"></i>Должности</h4>
		<p>Добавление или изменение должностей.</p>
	</div></a>
	<a href="<%= appr_positions_url %>" title="График должностей"><div class="span2">
		<h4><i class="icon-hand-up"></i>График должностей</h4>
		<p>Создание количества должностей которые необходимы в тот или иной день.</p>
	</div></a>
	<a href="<%= business_workdays_url %>" title="Рабочий день"><div class="span2">
		<h4><i class="icon-home"></i>Рабочий день</h4>
		<p>Редактирование рабочего дня компании.</p>
	</div></a>
</div>
