<% @b = session[:biz_id] %>
<% @wd = BusinessWorkday.find_by_business_id(3).FriEnd - BusinessWorkday.find_by_business_id(3).FriStart %>
<% @wd = @wd/60/60 %>
<h1><%= @business.name %> <%= link_to "Edit", edit_business_url(@b) %> TODAY WORKDAY IS: <%= @wd %> Hours</h1>

<table>

<div class="schedules">
<br>
<br>
<%= link_to "Основной граффик", schedules_url %>

<h4>Граффики сотрудников: </h4>
<br>
<% @schedule.sort.each do |sch| %>
<% @employee = Employee.find_all_by_id(sch.employee_id) %>
<% @period = Period.find(sch.period_id) %>
<%= link_to "Граффик #{sch.id} — #{@employee.first.name} for Period #{@period.p_start.to_s(:ru_datetime)} to #{@period.p_end.to_s(:ru_datetime)}", sch %>
<br>
<% end %>
</div>
<br>
<br>
<br>
<div class="calc"><%= link_to "Calculation", calculations_url %></div>

<br>
<br>
<strong> <a href="https://github.com/EmpireInc/Minority/">Этапы проекта</a></strong>