<%= form_for(@employee, :html => { :class => "form-horizontal"} ) do |f| %>
 <div class="control-group">
    <label class="control-label" for="inputName">ФИО</label>
	    <div class="controls">
	    <%= f.text_field :name, :placeholder => "Имя и Фамилия" %>
	    </div>
 </div>
 <div class="control-group">
    <label class="control-label" for="inputEmail">Почта</label>
	    <div class="controls">
	    <%= f.text_field :email, :placeholder => "Электропочта" %>
	    </div>
 </div>
  <div class="control-group">
    <label class="control-label" for="inputPayrate">Оклад</label>
	    <div class="controls">
	    <%= f.number_field :payrate, :placeholder => "Например $8.25 = 825" %>
	    </div>
 </div>
  <div class="control-group">
    <label class="control-label" for="inputWorkhours">Желаемое время работы</label>
	    <div class="controls">
	    <%= f.number_field :workhours, :placeholder => "Количество часов" %>
	    </div>
 </div>
  <div class="control-group">
    <label class="control-label" for="inputRank">Приоритет</label>
	    <div class="controls">
	    <%= select("employee", "rank", [['Важный', 1], ['Средний', 2], ['Низкий', 3]]) %>
	    </div>
 </div>
   <div class="control-group">
   <small>Для изменения введите свой пароль</small>
    <label class="control-label" for="inputRank">Пароль</label>
	    <div class="controls">
	    <%= password_field(:employee, :password, :size => 6) %>
	    </div>
 </div>  
<div class="control-group span13 columns4 checkbox-group">
      <div class="controls">
      		<% hidden_field_tag "employee[position_ids][]", nil %>
            <% Position.all.each do |position| %>
				<label class="checkbox inline">
            	<%= check_box_tag "employee[position_ids][]", position.id, @employee.position_ids.include?(position.id), id: "inlineCheckbox#{dom_id(position)}" %>
            	<%= label_tag dom_id(position), position.pos %>
            	</label>
            <% end %>
      </div>
</div>
<div class="control-group">
    <div class="controls employee_submit">
	<%= submit_tag "Сохранить", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

