<%= form_for(@employee, :html => { :class => "form-horizontal"} ) do |f| %>
 <div class="control-group">
    <label class="control-label" for="inputName">ФИО</label>
	    <div class="controls">
	    <%= f.text_field :name, :placeholder => "Имя и Фамилия" %>
	    </div>
 </div>
 <div class="control-group">
    <label class="control-label" for="inputEmail">Почта</label>
	    <div class="controls">
	    <%= f.text_field :email, :placeholder => "Электропочта" %>
	    </div>
 </div>
  <div class="control-group">
    <label class="control-label" for="inputPayrate">Оклад</label>
	    <div class="controls">
	    <%= f.number_field :payrate, :placeholder => "Например $8.25 = 825" %>
	    </div>
 </div>
  <div class="control-group">
    <label class="control-label" for="inputWorkhours">Рабочих часов</label>
	    <div class="controls">
	    <%= f.number_field :workhours, :placeholder => "Количество часов" %>
	    </div>
 </div>
  <div class="control-group">
    <label class="control-label" for="inputRank">Приоритет</label>
	    <div class="controls">
	    <%= select("employee", "rank", [['Важный', 1], ['Средний', 2], ['Низкий', 3]]) %>
	    </div>
 </div>
   <div class="control-group">
    <label class="control-label" for="inputPositions">Позиция</label>
	    <div class="controls">
	    <%   @pos = @business.positions  %>
<%= select("employee", "position_id", @pos.collect {|p| [ p.pos, p.id ] }, { :include_blank => true }) %>
	    </div>
 </div> 

  <%= f.submit "Сохранить" %>  
<% end %>

