<h1>Сотрудники</h1>
<%= link_to "Создать сотрудника", new_employee_url %>
<table>
  <tr>
    <th>ФИО</th>
    <th>Приоритет</th>
    <th>Электропочта</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= rank(employee.rank) %></td>
    <td><%= employee.email %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />



