<h2> Имя сотрудника:<%= @employee.name %></h2>
<td><%= @employee.id %></td>
<br>
<td><%= @employee.email %></td>
<br>
<td> created_at: "<%= @employee.created_at %>" </td>
<br>
<td> work at: "<%= @employee.business.name %>" </td>
<br>
<td> workhours: "<%= @employee.workhours %>" </td>
<br>
<td> at position: "<%= @employee.positions %>" </td>
<br>
<td><%= @schedule %></td>
<br>
<% content_for :title, @employee.name %>

<h1><%= @employee.name %></h1>
<p><%= @employee.email %></p>
<% if logged_in? %>

<% if @employee.clocked_in? %>
	<%= button_to "Clock Out",:id => "clock_out_tester", :controller => "timesheets", :method => :put, :action => "update" %>
<% else %>
	<%= button_to "Clock In",:id => "clock_in_tester", :controller => "timesheets", :action => "create" %>
<% end %><% end %>
<!-- CALENDAR -->
  <p><%=@hours%></p>
<%= link_to 'New Shift', new_shift_path%>
<div id="calend">
  <% #if current_user.admin? %>
    1<%= render 'adminCalendar' %>
  <% #else %>
    2<%= render 'userCalendar' %>
  <% #end %>
</div>

<div>
<% if logged_in? %>
<% if @employee.timesheets.any? %>
  <h3>Timesheets (<%= @employee.timesheets.count %>)</h3>
  <ol>
    <%= render @timesheets %>
  </ol>
<% end %>
</div>
<% end %>
<br><% if logged_in? %>
            <li><%= link_to "Employees", employees_path %></li>
            <li>
              <ul>
                <li><%= link_to "Account", current_employee %></li>
                <li><%= link_to "Settings", edit_employee_path(current_employee) %></li>
                <li><%= link_to "Log out", logout_path, method: "delete" %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Log in Employeer", login_path %></li>
          <% end %>
<br>
<td><%= link_to "Построить новый график(вручную)", new_schedule_url(:employee_id => @employee.id, :rate_this_week => @employee.payrate) %></td>
      <td><%= link_to "Редактировать", edit_employee_url(@employee) %></td>
      
      