<h2> Имя сотрудника:<%= @employee[0].name %></h2>
<td><%= @employee %></td>
<br>
<td><%= @schedule %></td>
<br>
<td><%= link_to "Построить новый график(вручную)", new_schedule_url(:employee_id => @employee[0].id, :rate_this_week => @employee[0].payrate) %></td>
      <td><%= link_to "Редактировать", edit_employee_url(@employee[0]) %></td>
      
      