<%= form_for(@position) do |f| %>
  <% if @position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% @position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Title" %><br />
    <%= f.text_field :pos %>
  </div>
  <div class="field">
    <%= f.label "Id" %><br />
    <%= f.number_field :pos_id %>
  </div>
  <div class="field">
    < f.label :business_id %><br />
    < f.number_field :business_id %>
    <2% business_id: @business_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
