<h1>Список должностей</h1>
<%= link_to "Добавить новую должность", new_position_url %>
<table class="table table-striped">
<thead>
  <tr>
    <th>Название</th>
    <th>Внутренний ид:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<% @positions.each do |position| %>
  <tr>
    <td><%= position.pos %></td>
    <td><%= position.pos_id %></td>
    <td><%= link_to 'Show', position %></td>
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <td><%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
