<p id="notice"><%= notice %></p>

<p>
  <b>Pos:</b>
  <%= @position.pos %>
</p>

<p>
  <b>Pos:</b>
  <%= @position.pos_id %>
</p>

<p>
  <b>Business:</b>
  <%= @position.business_id %>
</p>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
