<h1>Listing avaliability_items</h1>

<table>
  <tr>
    <th>Avaliability</th>
    <th>Day</th>
    <th>Type</th>
    <th>Start time</th>
    <th>End time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @avaliability_items.each do |avaliability_item| %>
  <tr>
    <td><%= avaliability_item.avaliability_id %></td>
    <td><%= avaliability_item.day %></td>
    <td><%= avaliability_item.type %></td>
    <td><%= avaliability_item.start_time %></td>
    <td><%= avaliability_item.end_time %></td>
    <td><%= link_to 'Show', avaliability_item %></td>
    <td><%= link_to 'Edit', edit_avaliability_item_path(avaliability_item) %></td>
    <td><%= link_to 'Destroy', avaliability_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Avaliability item', new_avaliability_item_path %>
