<h1>Периоды</h1>

<table class="table table-striped">
  <tr>
    <th>Начало периода</th>
    <th>Конец периода</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
  <% Time::DATE_FORMATS[:ru_datetime] = "%Y.%m.%d" %>
    <td><h2><%= period.p_start.to_s(:ru_datetime) %></h2></td>
    <td><h2><%= period.p_end.to_s(:ru_datetime) %></h2></td>
    <td><%= link_to 'Show', period %></td>
    <td><%= link_to 'Edit', edit_period_path(period) %></td>
    <td><%= link_to 'Destroy', period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый период', new_period_path %>
