<% @b = session[:biz_id] %>
<h1><%= link_to "/", business_url(@b) %></h1>


<section class="dayweek">
<div class="Mon dw">
<% @schedule.sort.each do |sch| %>
Mon
<% @employee = Employee.find([[sch.employee_id]]) %>  
<h6><%= if sch.MonStart != nil; @employee.first.name end %></h6>
<p><%= sch.MonStart %></p>
<p><%= sch.MonEnd %></p>
<% end %>
</div>



<div class="Tue dw">
<% @schedule.sort.each do |sch| %>
Tue
<% @employee = Employee.find([[sch.employee_id]]) %>  
<h6><%= if sch.MonStart != nil; @employee.first.name end %></h6>
<p><%= sch.TueStart %></p>
<p><%= sch.TueEnd %></p>
<% end %>
</div>

<div class="Wed dw">
<% @schedule.sort.each do |sch| %>
Wed
<% @employee = Employee.find([[sch.employee_id]]) %>  
<h6><%= if sch.MonStart != nil; @employee.first.name end %></h6>
<p><%= sch.WedStart %></p>
<p><%= sch.WedEnd %></p>
<% end %>
</div>


<div class="Thu dw">
<% @schedule.sort.each do |sch| %>
Thu
<% @employee = Employee.find([[sch.employee_id]]) %>  
<h6><%= if sch.MonStart != nil; @employee.first.name end %></h6>
<p><%= sch.ThuStart %></p>
<p><%= sch.ThuEnd %></p>
<% end %>
</div>


<div class="Fri dw">
<% @schedule.sort.each do |sch| %>
Fri
<% @employee = Employee.find([[sch.employee_id]]) %>  
<h6><%= if sch.MonStart != nil; @employee.first.name end %></h6>
<p><%= sch.FriStart %></p>
<p><%= sch.FriEnd %></p>
<% end %>
</div>


<div class="Sat dw">
<% @schedule.sort.each do |sch| %>
Sat
<% @employee = Employee.find([[sch.employee_id]]) %>  
<h6><%= if sch.MonStart != nil; @employee.first.name end %></h6>
<p><%= sch.SatStart %></p>
<p><%= sch.SatEnd %></p>
<% end %>
</div>


<div class="Sun dw">
<% @schedule.sort.each do |sch| %>
Sun
<% @employee = Employee.find([[sch.employee_id]]) %>  
<h6><%= if sch.MonStart != nil; @employee.first.name end %></h6>
<p><%= sch.SunStart %></p>
<p><%= sch.SunEnd %></p>
<% end %>
</div>

</section>
<div style: "clear:both;">

<% @schedule.each do |sch| %>
<% @employee = Employee.find([[sch.employee_id]]) %>    
<tr>
      <br>
      <br>
      <td>ID: <%= sch.id %></td>
      <td>Worker: <%= sch.employee_id %>
      
      Name: <%= @employee.first.name %>
      
      <%= link_to "Редактировать", :controller => "schedules", :action => "show", :id => sch.id %>
      </td>
      <br>
      <br>
      <div style="background: gray;">
<td><b>ПН:</b><%= sch.MonStart %></td> => <td><%= sch.MonEnd %></td><br>
<td><b>ВТ:</b><%= sch.TueStart %></td> => <td><%= sch.TueEnd %></td><br>
<td><b>СР:</b><%= sch.WedStart %></td> => <td><%= sch.WedEnd %></td><br>
<td><b>ЧТ:</b><%= sch.ThuStart %></td> => <td><%= sch.ThuEnd %></td><br>
<td><b>ПТ:</b><%= sch.FriStart %></td> => <td><%= sch.FriEnd %></td><br>
<td><b>СБ:</b><%= sch.SatStart %></td> => <td><%= sch.SatEnd %></td><br>
<td><b>ВС:</b><%= sch.SunStart %></td> => <td><%= sch.SunEnd %></td><br>
  
      
      
      
      
      
      
      </div>
    </tr>
  <% end %>
  </div>