<% @b = session[:biz_id] %>
<h1><%= link_to "/", business_url(@b) %></h1>


<% @schedule.sort.each do |sch| %>
<% @employee = Employee.find(sch.employee_id) %>
<% @period = Period.last %>
<%= link_to "Граффик #{sch.id} — #{@employee.name} for #{@period.p_start.to_s(:ru_datetime)} to #{@period.p_end.to_s(:ru_datetime)}", sch %>
<br>
<% end %>



</section>
<% @schedule.sort.each do |week| %>
<%= week.starts_at %>
<%= week.ends_at %>
<%= week.employee.name %>
<% end %>

  </div>