<%= form_for(@business_workday) do |f| %>
  <% if @business_workday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@business_workday.errors.count, "error") %> prohibited this business_workday from being saved:</h2>

      <ul>
      <% @business_workday.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <label class="control-label" for="period_id">Период</label>
      <div class="controls">
      <%   @period = Period.all  %>
      <%= select("business_workday", "period_id", @period.collect {|p| [ "#{p.p_start} : #{p.p_end}", p.id ] }) %>
      </div>
 </div>
   <div class="workdaytimes">
   <div class="wdt_block">
   <span>Понедельник</span>
     <td><%= f.time_select(:MonStart, :include_blank => true, ampm:true, minute_step:15) %> до </td>
     <td><%= f.time_select(:MonEnd, :include_blank => true, ampm:true, minute_step:15) %></td>
    </div>
    <div class="wdt_block">
    <span>Вторник</span>
    <td><%= f.time_select(:TueStart, :include_blank => true, ampm:true, minute_step:15) %> до </td>
    <td><%= f.time_select(:TueEnd, :include_blank => true, ampm:true, minute_step:15) %></td>
    </div>
    <div class="wdt_block">
    <span>Среда</span>
    <td><%= f.time_select(:WedStart, :include_blank => true, ampm:true, minute_step:15) %> до </td>
    <td><%= f.time_select(:WedEnd, :include_blank => true, ampm:true, minute_step:15) %></td>
    </div>
    <div class="wdt_block">
    <span>Четверг</span>
    <td><%= f.time_select(:ThuStart, :include_blank => true, ampm:true, minute_step:15) %> до </td>
    <td><%= f.time_select(:ThuEnd, :include_blank => true, ampm:true, minute_step:15) %></td>
    </div>
    <div class="wdt_block">
    <span>Пятница</span>
    <td><%= f.time_select(:FriStart, :include_blank => true, ampm:true, minute_step:15) %> до </td>
    <td><%= f.time_select(:FriEnd, :include_blank => true, ampm:true, minute_step:15) %></td>
    </div>
    <div class="wdt_block">
    <span>Суббота</span>
    <td><%= f.time_select(:SatStart, :include_blank => true, ampm:true, minute_step:15) %> до </td>
    <td><%= f.time_select(:SatEnd, :include_blank => true, ampm:true, minute_step:15) %></td>
    </div>
    <div class="wdt_block">
    <span>Воскресенье</span>
    <td><%= f.time_select(:SunStart, :include_blank => true, ampm:true, minute_step:15) %> до </td>
    <td><%= f.time_select(:SunEnd, :include_blank => true, ampm:true, minute_step:15) %></td>
    </div>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
