<h1>Время работы компании</h1>

<table class="table-striped business_workdays">
  <tr>
    <th>Период</th>
    <th>ПН</th>
    <th>ПН</th>
    <th>ВТ</th>
    <th>ВТ</th>
    <th>СР</th>
    <th>СР</th>
    <th>ЧТ</th>
    <th>ЧТ</th>
    <th>ПТ</th>
    <th>ПТ</th>
    <th>СБ</th>
    <th>СБ</th>
    <th>ВС</th>
    <th>ВС</th>

  </tr>
<p>Company: <%= @business_workdays.first.business.name %></p>
<% @business_workdays.each do |business_workday| %>
  <tr>
    <td><%= business_workday.period.p_start %> <%= business_workday.period.p_end %></td>
    <br>
    <td><%= business_workday.MonStart.to_s(:ru_datetime) %></td>
    <td><%= business_workday.MonEnd.to_s(:ru_datetime) %></td>
    <td><%= business_workday.TueStart.to_s(:ru_datetime) %></td>
    <td><%= business_workday.TueEnd.to_s(:ru_datetime) %></td>
    <td><%= business_workday.WedStart.to_s(:ru_datetime) %></td>
    <td><%= business_workday.WedEnd.to_s(:ru_datetime) %></td>
    <td><%= business_workday.ThuStart.to_s(:ru_datetime) %></td>
    <td><%= business_workday.ThuEnd.to_s(:ru_datetime) %></td>
    <td><%= business_workday.FriStart.to_s(:ru_datetime) %></td>
    <td><%= business_workday.FriEnd.to_s(:ru_datetime) %></td>
    <td><%= business_workday.SatStart.to_s(:ru_datetime) %></td>
    <td><%= business_workday.SatEnd.to_s(:ru_datetime) %></td>
    <td><%= business_workday.SunStart.to_s(:ru_datetime) %></td>
    <td><%= business_workday.SunEnd.to_s(:ru_datetime) %></td>
    <br>
    
  </tr>
  <div class="controls">
    <td><%= link_to 'Редактировать', edit_business_workday_path(business_workday) %></td>
    <td><%= link_to 'Удалить', business_workday, method: :delete, data: { confirm: 'Точно?' } %></td>
  </div>
<% end %>
</table>

<br />

<%= link_to 'Новый график работы компании', new_business_workday_path %>
