<p id="notice"><%= notice %></p>

<p>
  <b>Business:</b>
  <%= @business_workday.business_id %>
</p>

<p>
  <b>Period:</b>
  <%= @business_workday.period_id %>
</p>

<p>
  <b>Mon:</b>
    <%= @business_workday.MonStart.to_s(:ru_datetime) %>
    <%= @business_workday.MonEnd.to_s(:ru_datetime) %>
    
</p>

<p>
  <b>Tue:</b>
  <%= @business_workday.TueStart.to_s(:ru_datetime) %>
  <%= @business_workday.TueEnd.to_s(:ru_datetime) %>
    
</p>

<p>
  <b>Wed:</b>
  <%= @business_workday.WedStart.to_s(:ru_datetime) %>
  <%= @business_workday.WedEnd.to_s(:ru_datetime) %>
   
</p>

<p>
  <b>Thu:</b>
   <%= @business_workday.ThuStart %>
   <%= @business_workday.ThuEnd %>
</p>

<p>
  <b>Fri:</b>
  <%= @business_workday.FriStart.to_s(:ru_datetime) %>
  <%= @business_workday.FriEnd.to_s(:ru_datetime) %>
</p>

<p>
  <b>Sat:</b>
  <%= @business_workday.SatStart.to_s(:ru_datetime) %>
  <%= @business_workday.SatEnd.to_s(:ru_datetime) %>
  
</p>

<p>
  <b>Sun:</b>
  <%= @business_workday.SunStart.to_s(:ru_datetime) %>
  <%= @business_workday.SunEnd.to_s(:ru_datetime) %>
</p>


<%= link_to 'Edit', edit_business_workday_path(@business_workday) %> |
<%= link_to 'Back', business_workdays_path %>
