<h1>Список требуемых должностей:</h1>

<table class="table table-striped">
<thead>
  <tr>
    <th>Должность</th>
    <th>ПН</th>
    <th>ВТ</th>
    <th>СР</th>
    <th>ЧТ</th>
    <th>ПТ</th>
    <th>СБ</th>
    <th>ВС</th>
    <th>Период:</th>
  </tr>
</thead>
<% @appr_positions.each do |appr_position| %>
  <tr>
    <td><%= appr_position.position.pos %></td>
    <td><%= appr_position.Mon %></td>
    <td><%= appr_position.Tue %></td>
    <td><%= appr_position.Wed %></td>
    <td><%= appr_position.Thu %></td>
    <td><%= appr_position.Fri %></td>
    <td><%= appr_position.Sat %></td>
    <td><%= appr_position.Sun %></td>
    <td><%= appr_position.period_id %></td>
    <td><%= link_to 'Show', appr_position %></td>
    <td><%= link_to 'Edit', edit_appr_position_path(appr_position) %></td>
    <td><%= link_to 'Destroy', appr_position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Требуется должность?', new_appr_position_path %>
