<p id="notice"><%= notice %></p>

<p>
  <b>Position:</b>
  <%= @appr_position.position_id %>
</p>

<p>
  <b>Mon:</b>
  <%= @appr_position.Mon %>
</p>

<p>
  <b>Tue:</b>
  <%= @appr_position.Tue %>
</p>

<p>
  <b>Wed:</b>
  <%= @appr_position.Wed %>
</p>

<p>
  <b>Thu:</b>
  <%= @appr_position.Thu %>
</p>

<p>
  <b>Fri:</b>
  <%= @appr_position.Fri %>
</p>

<p>
  <b>Sat:</b>
  <%= @appr_position.Sat %>
</p>

<p>
  <b>Sun:</b>
  <%= @appr_position.Sun %>
</p>


<%= link_to 'Edit', edit_appr_position_path(@appr_position) %> |
<%= link_to 'Back', appr_positions_path %>
