<%= form_for(@avaliability) do |f| %>
  <% if @avaliability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@avaliability.errors.count, "error") %> prohibited this avaliability from being saved:</h2>

      <ul>
      <% @avaliability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br />
    <%= f.number_field :employee_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :ongoing %><br />
    <%= f.check_box :ongoing %>
  </div>
  <div class="field">
    <%= f.label :repeat %><br />
    <%= f.number_field :repeat %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
