<!DOCTYPE html>
<html>
<head>
  <title>Minority | Empire InCloud</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<!-- Javascript code section -->
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/AC_RunActiveContent.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/browser_detect.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/css_browser_selector.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/cookies.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/string.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/textsizer.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/image_box.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/lytebox.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/ajax_include.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/domlib.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/stdlib.js"></script>
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/submenu.js"></script>
<style type='text/css'>
  .Unfilled
  {
      border-color: green;
      background-color: green;
      color: green;
      width: 90px;
  }
  .Owned
  {
  border-color: maroon;
  background-color: maroon;
  color: maroon;
  width: 95px;
  }

  .OwnedByOther
  {
      border-color: darkblue;
      background-color: darkblue;
      color: darkblue;
      width: 90px;
  }
  
  table tr.evenrow {background-color: white; }
  table tr.oddrow {background-color: silver; }

  </style>
<%= javascript_include_tag "site_parameters.js" %>
<%= javascript_include_tag "http://fhs.mcmaster.ca/lib/javascript/common.js" %>
<%= javascript_include_tag "site.js" %>
<script type="text/javascript">
<!--
function onload_function() {
  return;
}
//-->
</script>
  <%= stylesheet_link_tag "fullcalendar.css" %>
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <%= javascript_include_tag "jquery.js" %>
  <%= javascript_include_tag "jquery.rest.js" %>
 
  <%= javascript_include_tag "fullcalendar.js" %>
  
</head>
<body class="container">
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/wai_aria_skiptarget_links.js"></script> 
<script type="text/javascript" src="http://fhs.mcmaster.ca/lib/javascript/wz_tooltip.js"></script> 
<header class="container">
  <% unless session[:biz_id].nil? then %> <h1><a href="/businesses/<%=session[:biz_id] %>">Minority | Private Alpha</a></h1>
  <div class="navbar">
    <div class="navbar-inner">
     <a class="brand" href="/">Minority</a>
      <ul class="nav">
      <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Сотрудники<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Список", employees_url %></li>
            <li><%= link_to "Должности", positions_url %></li>
            <li><%= link_to "Необходимые позиции", appr_positions_url %></li>
          </ul>
        </li>
        <li><%= link_to "Рабочий день", business_workdays_url %></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Графики<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Список", schedules_url %></li>
            <li></li>
            <li></li>
            <li class="divider"></li>
            <li><a href="">Calculation</a></li>
          </ul>
        </li>
      </ul>
      <ul class="pull-right nav">
          <li><%= link_to "[Периоды]", periods_url %></li>
        </ul>
     </div>
  </div>  
  <% else %>
  <h1>Minority | Private Alpha</h1>
  <% end %>
<% if flash[:notice] %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4>Уведомление</h4>
		<%= flash[:notice] %>
	</div>
<% end %>
  
	<% if flash[:alert] %>
		<div class="alert alert-error">
		<%= flash[:alert] %>
		</div> 
	<% end %>

</header>
<main class="container">
<%= yield %>
</main>

<footer>

	Minority Alpha | <a href="http://empireinc.net">Empire InCloud</a>
</footer>
</body>
</html>
