<!DOCTYPE html>
<html>
<head>
  <title>Minority | Empire InCloud</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style> 
  main {
   position: relative;
   height: 100%;
   min-height: 600px;
  }
  footer {
  position: absolute; bottom: 0;
  }
  </style>
</head>
<body style: "position: relative;">
  <h1>Minority | Private Alpha</h1>
<%= flash[:notice] %>
<main>
<%= yield %>
</main>

<footer>

	Minority Alpha | <a href="http:/empireinc.net">Empire InCloud</a>
</footer>
</body>
</html>
